.abook/
.android/
.cache/
.chatty/*
!.chatty/settings
.config/Android\ Open\ Source\ Project/
.config/android/
.config/autostart/
.config/BraveSoftware/
.config/coc/*
!.config/coc/extensions/
.config/coc/extensions/*
!.config/coc/extensions/package.json
.config/configstore/
.config/dconf/
.config/discord/
.config/Fuchsia/
.config/groff/
.config/inkscape/
.config/joplin/
.config/lf/
.config/mpv/bookmarker.json
.config/msmtp/
.config/mutt/
.config/newsboat/cache.db
.config/newsboat/urls
.config/nvim/.*
.config/nvim/autoload/
.config/procps/
.config/pulse/
.config/reflex-curses/followed
.config/reflex-curses/followed.old
.config/Signal
.config/vim/
.config/vue/
.config/zsh/.zcompdump
.config/notmuch-config
.config/pam-gnupg
.config/settings
.config/tool_state
.dart/
.dartServer/
.degit/
.dotfiles/
.dropbox-dist/
.dropbox/
.flutter-devtools/
.fuchsia/
.gnupg/
.gradle/
.ipython/
.java/
.joplin-bin/
.jupyter/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/scripts/
!.local/bin/statusbar/
!.local/share/
.local/share/*
!.local/share/emoji
.netlify/
.pki/
.pub-cache/
.ssh/
Android/
Documents/*
!Documents/All_Keybinds
Downloads/
Dropbox/
Media/
Projects/
Public/
Templates/
.emulator_console_auth_token
.flutter
.flutter_tool_state
.gitconfig
.mbsyncrc
.nvidia-settings-rc
.python_history
.Xauthority
key.jks
