.android/
.cache/
.config/Android\ Open\ Source\ Project/
.config/BraveSoftware/
.config/coc/*
!.config/coc/extensions/
.config/coc/extensions/*
!.config/coc/extensions/package.json
.config/configstore/
.config/dconf/
.config/discord/
.config/Fuchsia/
.config/inkscape/
.config/mpv/bookmarker.json
.config/msmtp/
.config/mutt/
.config/newsboat/urls
.config/nvim/.*
.config/procps/
.config/pulse/
.config/Signal
.config/zsh/.zcompdump
.config/notmuch-config
.config/pam-gnupg
.config/settings
.config/tool_state
.dart/
.dartServer/
.dotfiles/
.flutter-devtools/
.fuchsia/
.gnupg/
.gradle/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/scripts/
!.local/bin/statusbar/
!.local/share/
.local/share/*
!.local/share/emoji
.pki/
.pub-cache/
.ssh/
Android/
Documents/*
!Documents/All_Keybinds
Downloads/
Media/
Projects/
Public/
Templates/
.emulator_console_auth_token
.flutter
.gitconfig
.mbsyncrc
.nvidia-settings-rc
.python_history
.Xauthority
