Documents/*
!Documents/All_Keybinds
Downloads/
Media/
Projects/
Public/
Templates/
.cache/
.config/BraveSoftware/
.config/coc/*
!.config/coc/extensions/
.config/coc/extensions/*
!.config/coc/extensions/package.json
.config/configstore/
.config/dconf/
.config/discord/
.config/inkscape/
.config/msmtp/
.config/mutt/
.config/nvim/.*
.config/procps/
.config/pulse/
.config/Signal
.config/zsh/.zcompdump
.config/notmuch-config
.config/pam-gnupg
.dotfiles/
.gnupg/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/scripts/
!.local/bin/statusbar/
!.local/share/
.local/share/*
!.local/share/emoji
.pki/
.ssh/
.gitconfig
.mbsyncrc
.nvidia-settings-rc
.python_history
.urlview
.Xauthority
