*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: min(0.2vw, 1.5px);
  z-index: 0;
  font-family: "Lexend", sans-serif;
  scroll-behavior: smooth;
  background-color: #121212;
  color: #ffffff;
  overflow-x: hidden;
  background-image: url(/home/richard/.cache/bing-wp/bing.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
.bookmarks {
  grid-area: bookmarks;
  height: 2.5rem;
  background-color: #1d2021;
  border-radius: 0 0 0.3rem 0.3rem;
}

.bookmarks > ul {
  list-style-type: none;
}

.bookmarks > ul > li {
  float: left;
}
*/

.main {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.8fr 1fr;
  grid-template-areas:
    "current"
    "search";
}

.current {
  grid-area: current;
  margin: auto 0;
  color: #fff;
}

.current > h1 {
  font-size: min(18vw, 135px);
  font-weight: 400;
}

.current-sub > h2 {
  display: inline-block;
  font-size: min(5vw, 37.5px);
  font-weight: 500;
  margin: min(2vw, 15px);
}

.search {
  grid-area: search;
  margin: 0 auto;
  padding: 0 min(0.64, 4.8px);
}

.search form {
  min-width: min(95vw, 750px);
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto;
  grid-template-areas: "input button";
  border-radius: min(1vw, 7.5px);
}

.search form > input[type="text"] {
  grid-area: input;
  font-size: min(3.2vw, 24px);
  font-family: "Lexend", sans-serif;
  padding: min(1.067vw, 8px) min(2.13vw, 16px);
  border: none;
  border-radius: min(0.64vw, 4.8px) 0 0 min(0.64vw, 4.8px);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 200ms ease;
}

.search form > button {
  grid-area: button;
  height: min(8vw, 60px);
  width: min(8vw, 60px);
  padding: min(1.6vw, 12px) min(2.13vw, 16px) min(1.067vw, 8px);
  border: none;
  outline: none;
  border-radius: 0 min(0.64vw, 4.8px) min(0.64vw, 4.8px) 0;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: background-color 200ms ease;
}

.search form:hover > button,
.search form > input[type="text"]:focus + button {
  background-color: rgba(0, 0, 0, 1);
}

.search form:hover > input[type="text"],
.search form > input[type="text"]:focus,
.search form > button:hover + input[type="text"] {
  outline: none;
  background-color: rgba(0, 0, 0, 0.9);
}

/*
.settings {
  grid-area: settings;
}

.feeds {
  grid-area: feeds;
}

.quick {
  grid-area: quick;
}

.godo {
  grid-area: godo;
}

.weather {
  grid-area: weather;
}

.daily {
  grid-area: daily;
}
*/
