[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/opt/thunderbird/thunderbird %u
Name=Thunderbird
Comment=Custom definition for Thunderbird
